*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background: rgba(13, 10, 10, 0.922);
    width: 100%;
    height: 100%;
}

.container{
   
    min-height: 100vh;
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    color: linear-gradient( rgba(46, 238, 142, 0.587), rgba(24, 140, 96, 0.244));;
}

.container > *{
    text-align: center;
    flex: 1 100%;
    padding: 40px;
}


.logo{
    font-size: 2.5rem;
    color:   rgba(46, 238, 142, 0.587);
    cursor: pointer;
    
   
}

form{
    box-shadow: 10px 15px 15px rgba(32, 7, 7, 0.8);
}
.main-1{
    display: block;
    border: 3px solid black;
    overflow: hidden;
    height: 500px;
    overflow: hidden;
    
}

.image-container{
    max-width: 100%;
    height: 500px;
    animation: slide 16s infinite;
}

.image-container img{
    max-width: 100%;
    height: 400px;
    box-shadow: 15px 20px 9px;
    border-radius: 10px 10px 0 0;
   
}
@keyframes slide{
    0%{
        transform: translateY(0%);
    }

    20%{
        transform: translateY(0%);
    }


    25%{
        transform: translateY(-100%);
    }

    30%{
        transform: translateY(-100%);
    }

    50%{
        transform: translateY(-200%);
    }

    550%{
        transform: translateY(-200%);
    }
    75%{
        transform: translateY(-300%);
    }

    83%{
        transform: translateY(-300%);
    }
}






.search .srch{
    width: 20rem;
    height: 2.6rem;
    border-radius: 10px;
    padding: 10px;
    background: transparent;
    outline-offset: 2px;
    outline-color: lavender;
    color: aliceblue;
}

.search .srch::placeholder{
    color: aliceblue;
}

.hamburger{
    display: none;
}

.search .btn{
    height: 2.6rem;
    width: 3.5rem;
    border-radius: 10px;
    outline-offset: 2px;
}

.search .btn:hover{
    background:linear-gradient( rgba(46, 238, 142, 0.587), rgba(24, 140, 96, 0.244));
}

.header{
    display: flex; 
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
   
}

.menu ul li:hover{
    text-decoration: underline;
    
}

.menu ul li a:hover{
    color:  rgba(46, 238, 142, 0.587);
}

.search{
    align-items: center;
    display: flex;
    flex-flow: row wrap;
   

}

.navbar{
    display: flex;
    flex-flow: row wrap; 
    gap: 60px;
    align-items: center;

}




.menu ul{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
   
  
    
}


.menu ul a{
    text-decoration: none;
    color: aliceblue;
}


.main-2{
    width: 100%;
    height: 500px;
    display: flex;
    flex-flow: column wrap;
    text-align: start;
    border: 2px solid rgba(4, 3, 3, 0.894);
    border-radius: 5px;
    color: aliceblue;
    gap: 20px;
}

.main-2 h2{
    font-size: large;
}

.main-2 button{
    height: 30px;
    width: 60px;
    border-radius: 7px;
    background:linear-gradient( rgba(46, 238, 142, 0.587), rgba(24, 140, 96, 0.244));
    margin: 10px 0px;
}


.main-2 input{
    display: flex;
    height: 30px;
    width: 250px;
    justify-content: flex-end;
    padding: 5px;
    border-radius: 7px;
}




.drop-menu{
   display: none;
}


@media (min-width:600px) {
    .main-1{
        flex: 3 ;
    }

    .main-2{
        flex: 1;
    }
}

@media (max-width:1024px) {
    .navbar{
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
        gap: 40px;

    }

    .menu ul{
        display: none;
    }

    .drop-menu ul{
        list-style: none;
    }

    .drop-menu{
        position: relative;
    }

    .drop-menu ul{
        display: flex;
        flex-flow: column wrap;
        gap: 30px;
        font-size: larger;
        
    }

    .drop-menu ul a{
        text-decoration: none;
        color: lavender;
    }

    .drop-menu h3{
        font-size: 14px;
        display: block;
        position: absolute;
        bottom: 100px;
        left: 9px;
        color: rgb(0, 0, 0);
    }

    .drop-menu {
    display: flex;
    height: 100vh;
    width: 50%;
    top: 0;
    max-width: 550px;
    left: -550px;
    position: fixed;
    transition: 0.8s ease-in-out;
    background: rgba(16, 14, 14, 0.853);
    border-radius: 0px 10px 10px 0px;
    backdrop-filter: blur(10px);
    flex-flow: column wrap;
    padding: 40px 50px;
    z-index: 10;
      
    }

    .drop-menu ul a:hover{
        color:  rgba(46, 238, 142, 0.587);
    }

    .drop-menu.active{
      left: 0;
      display: flex;
        
    }

    .search{
        width: 100%;
        margin-top: -45px;
    }

    .search .srch{
        width: 80%;
    }
    .search .btn{
        width: 20%;
    }

    .hamburger{
        display: flex;
        color:  rgba(46, 238, 142, 0.587);
    }

   .hamburger i{
    font-size: 1.7rem;
   }

   .menu{
    position: relative;
   }

    .line{
    height: 50px;
    width: 100%;
    max-width: 500px;
    background : linear-gradient(rgba(53, 172, 202, 0.7),rgba(144, 188, 11, 0.8),rgba(6, 109, 35, 0.9));
    position: absolute;
    bottom: 80px;
    left: 0;
    border-radius: 0 0 10px 10px;
    
   }
}