@import url(../../Users/emmanuelboateng/Library/Fonts/nissanbrand_regular.otf);

*{
    margin: 0;
    padding: 0;
    font-family: 'Nissan Brand';
}

body{
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0);
}

.stock{
    height: 400px;
    width: 500px;
    background-color: blue;
    color: #fff;
    font-size:xx-large;
}



.header{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header ul{
    display: flex;
    flex: row wrap;
    gap: 10px;
    list-style: none;
}

.header ul a:hover{
    color: rgba(28, 128, 88, 0.975);
    
}

.header h2{
    color: rgba(28, 128, 88, 0.975);
    font-size: 32px;
    cursor: pointer;
}

.header ul a{
    text-decoration: none;
    color: #fff;
}

.search{
    display: flex;
    width: 30%;
    justify-content: flex-end;
    gap: 5px;
}



.search .srch{
    width: 300px;
    height: 45px;
    padding: 10px;
    border-radius: 10px 0 0 10px;
    outline-color: rgba(28, 128, 88, 0.975);
}

.search .btn{
    border-radius: 8px;
    width: 60px;
    background: rgba(28, 128, 88, 0.975);
    color: #fff;
}

.search .btn:hover{
    background: linear-gradient(rgba(0,3,5,0.5),rgba(5, 73, 24, 0.6));
    color: aquamarine;
    transition: 0.6s ease;
}

.navbar{
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

}


.main-1{
    height: 400px;
    background-image: url(./426157439_nissan_navara.webp);
    background-position: center;
    background-size: cover;
    margin-bottom: 5px;
}


.container{
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    text-align: center;
}

.container > * {
    flex: 1 100%;
   
}

.header{
    width: 100%;
    height: 120px;
    color: #fff;
}

.main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    border-radius: 10px;
    background: linear-gradient(rgba(13, 36, 63, 0.7));

  
}

.message{
    text-align: start;
    border: 2px solid rgb(210, 203, 203);
    box-shadow: 10px 8px 9px;
    height: 300px;
    width: 300px;
    display: flex;
    flex-flow: column wrap;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 8px;
    color: #3f3535;
    gap: 20px;
    margin-bottom: 14px;
    
    
}

.message input{
    display: flex;
    height: 30px;
    width: 250px;
    padding: 5px;
    border-radius: 8px;
    outline-color: rgba(28, 128, 88, 0.975);
}

.message label{
    color: #fff;
}

.message button{
    height: 40px;
    width: 70px;
    background-color: rgba(28, 128, 88, 0.975);
    border-radius: 10px;
    margin-top: 4px;
    color: #fff;
}

.message h3{
    color: #fff;
    padding: 5px;
}





.picture-slide{
    display: flex;
    top: 40px;
    left: 40px;
    border: 2px solid black;
    border-radius: 8px;
    width: 475px;
    height: 400px;
    overflow: hidden;
    box-shadow: 10px 15px 8px;
}

.image-container{
    width: 500px;
    height: 400px;
    animation: slide 16s infinite;
}

.image-container img{
    width: 500px;
    height: 400px;
}


@keyframes slide{
    0%{
        transform: translateX(0%);
    }

    20%{
        transform: translateX(0%);
    }

    25%{
        transform: translateX(-100%);
    }

    45%{
        transform: translateX(-100%);
    }


    50%{
        transform: translateX(-200%);
    }

    70%{
        transform: translateX(-200%);
    }


    75%{
        transform: translateX(-300%);
    }

    90%{
        transform: translateX(-300%);
    }



}


@media (min-width:600px) {
    .aside{
        flex: 1;
    }
   
}


@media (min-width:900px) {
    .main{
        flex:3 ;
    }

    .main{
        order: 2;
    }

    .aside-2{
        order: 3;
    }

    .footer{
        order: 4;
    }
}

@media (max-width:1020px) {
    .header{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

  

    .navbar ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        display: none;
    }

    .search{
        width: 100%;
        justify-content: flex-start;
    }

    .search .srch{
        width: 80%;
    }

    .search .btn{
        width: 20%;
    }


}

